{% extends 'index.html' %}

{% block content %}
    <style>
        h1{
            font-size : 70px;
            color :green;
            text-align : center;
           }

        h3{
            font-size : 50px;
            color : gray;
            text-align : center;
        }
        img{
            box-shadow: 0px 0px 10px black;
            border-radius : 10px ;
        }
    </style>

    <!-- Creating 2 image tags -->
 <main class="page-content">
    <div class="container-fluid">
      <h2>All Customers</h2>
      <hr>

        <div class="row">
            {% for i in customers %}
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <a class="card p-3 text-center" href="{% url 'single' idd=i.id %}" style="text-aligin : center; text-decuration : none;">

                    <img class="" src="{{i.profilePic.url}}" width="dpx" height="150px">
                    <p>{{i.fname}} {{i.lname}}</p>
                    <p>{{i.mobNum}}</p>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>
  </main>


{% endblock %}